source_instance="https://masto.es"
toot_instance="https://masto.es"
access_token=""
visibility="public"
show_change=True
text = """
#EstadísticasMastoes %%timestamp%%

Tenemos un total de: 
%%usercount%% usuarios registrados y un gato
%%activeusers%% usuarios activos y un gato
%%statuscount%% estados publicados
%%domaincount%% servidores federados
"""
text_usage = """
#RecursosMastoes %%timestamp%%

Nuestro uso de recursos es: 
%%ram%% uso de memoria RAM
%%cpu%% uso de CPU (última hora)
%%disk1%% uso de almac. interno %%disk1_percent%%
%%disk2%% uso de almac. multimedia %%disk2_percent%%
"""
